/*-------------------------
   Footer Styles
-------------------------*/
.footer{
   background-color: var(--body-background);
   padding-top: 40px;
   &__menu-title{
      font-style: normal;
      font-family: Montserrat;
      font-weight: 700;
      font-size:  var( --font-body-2);
      line-height: var(--line-height-b1);
      color:var(--color-nineth);
   }
   &__menu-lnks{ 
      list-style: none;
      padding: 0px;
        li{
         font-family: Montserrat;
         color: #5E626C;
         font-size:  var(--font-body-2);
         line-height:var(--line-height-b1);
      }
      li:hover{
         color: var(--Active-Green-);
         font-weight: bold;

      }
      span:hover{
         color: var(--Active-Green-);
         font-weight: bold;

      }
      
   }
   &__about-text{
      font-family: Montserrat;
      font-weight: 400;
      padding-top: 10px;
      color: #5E626C;
      font-size: var(--font-body-2);
      padding-right: 15px;
   }
   &__copyright{
      font-size:  var(--font-body-3);
      font-family: Montserrat;
      font-weight: 400;
      padding-right: 15px;
      text-align: center;
      color: var(--color-card-text);
   }
   @media only screen and (max-width: 479px) {
   &__logo{
      margin-left: 0px;
      margin-right: 0px;
   }
   &__menu-title{
      font-size:  var( --font-body-3);
  
   }
   &__menu-lnks{ 
      li{
         font-size:  var(--font-body-3)!important;
      }
     }
}

}
.hr-line-quick-linke{
   margin: 10px;
   background: #4F3313;
   height: 2px;

}