/*-------------------------
   About 
-------------------------*/

/*-------------------------
   About Detail 
-------------------------*/
.section__about-details{
    padding-top: 40px;
    padding-bottom: 40px;
}
.about-details__ovel{
   left: -100px;
   bottom: 0;
}   
.strong-text{
   color: var(--Default);
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  
}
@media only screen and (min-width: 479px) and (max-width: 576px) {

}
@media only screen and (max-width: 479px) {

}
/*-------------------------
   Who We Are 
-------------------------*/
.section__WhoWeAre{
   background-color: #EEF5E8;
   padding-top: 60px;
   padding-bottom: 60px;

}
.big-green-circle{
   left: -50px;
   bottom: 120px;
}
.small-green-circle{
   left: -80px;
   bottom: 0;
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  
}
@media only screen and (min-width: 479px) and (max-width: 576px) {

}
@media only screen and (max-width: 479px) {

}

/*-------------------------
   Achievements 
-------------------------*/
.section__AchievementsCounter{
   padding-top: 60px;
   padding-bottom: 60px;

}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  
}
@media only screen and (min-width: 479px) and (max-width: 576px) {

}
@media only screen and (max-width: 479px) {
   .section__AchievementsCounter{
      padding-top: 20px;
      padding-bottom: 20px;
   
   }
}
/*-------------------------
   TestimonailQuote 
-------------------------*/
.quotetitle{
   font-family: Montserrat;
   padding-top: 1rem;
   padding-bottom: 1rem;
   font-size: 28px;
   color: #1C182B;
   line-height: 36px;

}
.quotename{
   font-family: Montserrat;
   color: #9CA5B1;

}
@media only screen and (min-width: 576px) and (max-width: 768px) {
   .quotetitle{
      font-size: 22px;   
   }
}
@media only screen and (min-width: 479px) and (max-width: 576px) {
   .quotetitle{
      font-size: 22px;   
   }
}
@media only screen and (max-width: 479px) {
   .quotetitle{
      font-size: 22px;   
   }
}