/*-------------------------
   Blog 
-------------------------*/
.blog-details-section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.blog_details_description{
font-family: Montserrat;
line-height: 30px;
color: #495057;
font-size: var(--font-body-2);
}