/*-------------------------
   Con{tact 
-------------------------*/
.contact-section {
    &_contact-info-title {
        color: #1C182B;
        font-family: Montserrat-Medium;
        font-size:large;
        line-height: 18px;
        padding-bottom: 0.7rem;
    }
}
