/*-------------------------
    Variables
-------------------------*/
:root {
// Color
--Active-Green-:#1E9316;
--Default: #1AB700;
--color-Gray:#A3A3A3;
--color-Lite-Gray:#D9D9D9;
--color-date:#6C757D;
--color-card-title:#495057;
--color-card-text:#6C757D;




// Gradient Color
// --gradient-primary: linear-gradient(90deg, #ECF2F6 0%, rgba(236, 242, 246, 0) 70.31%);
// --gradient-blue: linear-gradient(145.92deg, #5956E9 20.18%, #9991FF 76.9%);
// --gradient-accent: linear-gradient(180deg, #FAB8C4 0%, #FFEDF0 100%);
// --gradient-white: linear-gradient(266.3deg, rgba(236, 242, 246, 0) 7.84%, #ECF2F6 29.1%, rgba(236, 242, 246, 0) 64.32%);
// --gradient-dark: linear-gradient(180deg, #27272E 0%, #303035 100%);



// // Border
// --border-light: 1px solid #E3E6E9;
//--border-light: 1px solid #A7A7A7;
// --border-lighter: 1px solid #ECF2F6;
// --border-dark: 1px solid var(--color-ship-gray);
// --border-gray: 1px solid var(--color-gray-4);


// //Font Family
// --font-primary: 'DM Sans', sans-serif;
// --font-secondary: 'Poppins', sans-serif;
// --font-awesome: 'Font Awesome 5 Pro';

// // Transition
// --transition: all 0.3s ease-in-out;

// //Fonts Size
--font-body-1: 18px;
--font-body-2: 16px;
--font-body-3: 14px;
--font-body-4: 12px;
--font-body-5: 10px;

// //Button Size
--font-buton-1: 18px;
--font-buton-2: 16px;
--font-buton-3: 14px;
--font-buton-4: 12px;
// // Line Height
--line-height-b1: 1.5;
// --line-height-b3: 1.1;

// // Heading Font 
 --h1: 70px; 
 --h2: 40px; 
 --h3: 22px;
 --h4: 20px; 
 --h5: 16px; 
 --h6: 14px; 

// Layouts Variation
// $smlg-device: 'only screen and (max-width: 1199px)';
// $extra-device: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
// $laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1599px)';
// $lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout:'only screen and (max-width: 991px)';
$sm-layout:'only screen and (max-width: 768px)';
$large-mobile: 'only screen and (max-width: 575px)';
--small-mobile: 'only screen and (max-width: 479px)';

}
