.cardThree {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(35, 26, 77, 0.16);
    border-radius: 10px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    padding: 40px;
    &__width{
        width: 100%;
    }
    &:hover &__title, &:hover &__description{
        color: white;
        position: relative;
        z-index: 999;
        cursor: pointer;
    
    }
    &:hover .features-icons{
        color: white;
        position: relative;
        z-index: 999;
        cursor: pointer;
    }
    &__title{
        font-family: Montserrat-SemiBold;
        color: #1C182B;
        font-size: var( --h3);
        padding-top: 20px;
        padding-bottom: 10px;
        line-height: 25px;
    }
    &__description{
        font-family: Montserrat;
        color: #5E626C;
        line-height: 20px;
        font-size: var(--font-body-3);
    }
    &::after {
        content: '';
        width: 100%;
        position: absolute;
        height: 100%;
        left: 0;
        top: 100%;
        transition: all 0.3s;
        background: linear-gradient(314.91deg, #246930 0%, #1ab700 98.64%) ;
        border-radius: 0px 0px 10px 10px;
    }
    &:hover::after{
        top: 0%;
        cursor: pointer;
    }
}


@media only screen and (min-width: 576px) and (max-width: 768px) {
    .cardThree {
        padding: 15px;
        &__title{
            font-size: var( --h3);
        }
        
        &__description{
            font-family: Montserrat;
            color: #5E626C;
            line-height: 20px;
            font-size: var(--font-body-3);
        }
    }
 }
 @media only screen and (min-width: 479px) and (max-width: 576px) {
   
 }
 @media only screen and (max-width: 479px) {
    .cardThree {
        padding: 25px;
        &__title{
            font-size: var( --h3);
        }
        &__description{
            font-family: Montserrat;
            color: #5E626C;
            line-height: 20px;
            font-size: var(--font-body-3);
        }
    }
 }
