.cardFive{
    &__date{
        font-family: Montserrat;
        color: var(--color-date);
        padding-top: 10px;
        font-size: var(--font-body-3);
    }
    &__title{
        font-family: Montserrat-Bold;
        color: var(--color-card-title);
        font-size: var(h4);
        line-height: 25px;
        padding-bottom: 10px;
    }
    &__description{
        font-family: Montserrat;
        color: #6C757D;
        line-height: 20px;
        font-size: var(--font-body-3);
    }
    &__name{
        font-family:Montserrat-Bold;
        color: #343A40;
        font-size: var(--font-body-3);
    }
    &__designation{
        font-family: Montserrat-Medium;
        color: #6C757D;
        margin: 0px;
        line-height: 20px;
        font-size: var(--font-body-3);
    }
    &__category{
        border-radius: 8px;
        top: 5px;
        right: 5px;
        font-size: 10px;
        display: flex;
        border: 0px;
        padding: 7px;
      
        list-style: none;
        & li{
            margin-right: 10px;
        }
        & li button{
            background: #000000d6;
            color: white;
        }
    }
    
}