.cardThree {
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(35, 26, 77, 0.16);
    border-radius: 10px;
    padding: 40px;
    &__width{
        width: 100%;
    }
    &__title{
        font-family: Montserrat-SemiBold;
        color: #1C182B;
        font-size: var( --h3);
        padding-top: 20px;
        padding-bottom: 10px;
        line-height: 25px;
    }
    &__description{
        font-family: Montserrat;
        color: #5E626C;
        line-height: 20px;
        font-size: var(--font-body-3);
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .cardThree {
        padding: 15px;
        &__title{
            font-size: var( --h4);
        }
        &__description{
            font-family: Montserrat;
            color: #5E626C;
            line-height: 20px;
            font-size: var(--font-body-3);
        }
    }
 }
 @media only screen and (min-width: 479px) and (max-width: 576px) {
   
 }
 @media only screen and (max-width: 479px) {
    .cardThree {
        padding: 25px;
        &__title{
            font-size: var( --h4);
        }
        &__description{
            font-family: Montserrat;
            color: #5E626C;
            line-height: 20px;
            font-size: var(--font-body-3);
        }
    }
 }