.phone-text{
    font-family: Montserrat;
    color: #5E626C;
    font-size: var(--font-body-2);

}
.phone-text:hover{
    color: #4F4949;
    font-size: var(--font-body-2);
    color: var(--Active-Green-);
}