.primary-nav-link-mobile {
    &__title{
        color: var(--color-text-dark);
        font-size: var(--h6);
        padding-top: 20px;
        text-align: center;
        font-family: Manrope-Bold;
        color: var(--color-secondary);
    }
    list-style: none;
    padding: 0px;
    &__a{
        line-height: 36px;
        color: var(--color-twelve);
        text-decoration: none;
        text-align: center;
        display: block;
        font-family: Manrope;
        font-size: var(--font-body-1);
    }
    &__a:active{
        line-height: 36px!important;
        color: var(--color-twelve)!important;
        text-decoration: none!important;
        text-align: center!important;
        display: block!important;
        font-family: Manrope!important;
        font-size: var(--font-body-1)!important;
    }
    &__a:hover{
        line-height: 36px!important;
        color: var(--color-twelve)!important;
        text-decoration: none!important;
        text-align: center!important;
        display: block!important;
        font-family: Manrope!important;
        font-size: var(--font-body-1)!important;
    }
}