.search-input{
    input{
        background-color: rgba(208, 208, 210, 0.25);
        border-color:  rgba(208, 208, 210, 0.25);
    }
}
.search__btn{
    background-color: var(--color-primary);
    background-color: var(--color-primary);
    color: white;
}