.section {
    &__title {
        font-size: var(--h2);
        line-height: 1.5;
        color: #1C182B;
        font-family: Montserrat-SemiBold;
     
    }
    &__subtitle {
        font-size: var(--font-body-2);
        color: #9ca5b1;
        line-height: 1.5;
        font-family: Montserrat;
        text-transform: uppercase;
    }
    &__description {
        color: #9ca5b1;
        font-size: var(--font-body-3);
        font-family: Montserrat;
        text-transform: uppercase;

    }
}

@media only screen and (max-width: 479px) {
    .section {
        &__title {
            font-size: 26px;
        }
        &__description {
            padding: 0px;
        }
        &__subtitle {
            font-size: var(--h5);
            color: var(--color-secondary);
            line-height: 1.5;
            font-family: Montserrat;
        }
    }
    .row__section-title {
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}

@media only screen and (min-width: 479px) and (max-width: 576px) {
    .section {
        &__title {
            font-size: 26px;
        }
        &__description {
            padding: 15px;
        }
        &__subtitle {
            font-size: var(--h5);
            color: var(--color-secondary);
            line-height: 1.5;
            font-family: Montserrat;
        }
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .section {
        &__title {
            font-size: 34px;
        }
        &__description {
            padding: 15px;
        }
        &__subtitle {
            font-size: var(--h5);
            color: var(--color-secondary);
            line-height: 1.5;
            font-family: Montserrat;
        }
    }
}
